<%- include('includes/header'); %>
<%- include('includes/navbar'); %>

<div class="container">
	<div class="row">
		<div class="col-lg-2"></div>
		<div class="col-lg-8 mt-3">
			<h1 class="display-1 text-center">Contact List</h1>
			<p class="text-center lead">Add your contacts</p>

			<%- include('includes/messages'); -%>

			<div class="responsive-table">
				<table class="table mt-2">
					<tr>
						<td>Name</td>
						<td>LastName</td>
						<td>Phone</td>
						<td>Email</td>
						<td>Edit</td>
						<td>Exclude</td>
					</tr>

					<% contacts.forEach(contact => { %>
						<tr>
							<td><%= contact.name %></td>
							<td><%= contact.lastName %></td>
							<td><%= contact.telephone %></td>
							<td><%= contact.email %></td>
							<td><a href="/contact/index/<%= contact._id %>">Edit</a></td>
							<td><a class="text-danger" href="/contact/delete/<%= contact._id %>">Exclude</a></td>
						</tr>
					<% }); %>
				</table>
			</div>
		</div>
		<div class="col-lg-2"></div>
	</div>
</div>

<%- include('includes/footer'); %>
